<h1>Store</h1>
<p>Detail of product</p>

<ul>
    <li>
        <p><b>{{product.name}}</b>: {{product.description}}</p>
    </li>
</ul>

<form action="/products" method="POST">
    <input type="hidden" name="pid" value="{{product.id}}">
    Name:<br>
    <input type="text" name="author">
    <br>
    Comment:<br>
    <textArea rows="4" cols="50" name="comments"></textArea>
    <br><br>
    <input type="submit" value="Submit">
</form>

<hr>

{{#each comments}}
<p><b>{{this.author}}</b></p>
<p>{{this.comment}}</p>
<p>{{this.date_comment}}</p>
<hr>
{{/each}}